<section>
  <%= form_tag('/search') do %>
    <section>
      <%= search_field_tag 'search', nil, placeholder: "Search" %>
    </section>
    <section>
      <section>
        <label>
          <%= radio_button_tag 'media_type', 'movie' %>
          Movie
        </label>
      </section>
      <section>
        <label>
          <%= radio_button_tag 'media_type', 'tv' %>
          TV
        </label>
      </section>
      <section>
        <label>
          <%= radio_button_tag 'media_type', 'book' %>
          Book
        </label>
      </section>
    </section>
    <section>
      <%= submit_tag "Search" %>
    </section>
  <% end %>
</section>
<br>
<section>
  <ul>
    <% for card in @movie_cards do %>
      <% details = card.desc.split("\n") %>
      <li>
        <div class="img-result">
          <%= image_tag "http://image.tmdb.org/t/p/original#{details[1]}" %><br>
          <div class="hover">
            <div class="hover-links">
              <%= button_to "Currently Watching", trello_move_path, params: { id: card.id, button_name: "watching" }, data: { confirm: "Move this to the Currently Watching list on Trello?" } %>
              <%= button_to "Watch Later", trello_move_path, params: { id: card.id, button_name: "to_watch" }, data: { confirm: "Move this to the Watch Later list on Trello?" } %>
              <%= button_to "Already Watched", trello_move_path, params: { id: card.id, button_name: "watched" }, data: { confirm: "Move this to the Already Watched list on Trello?" } %>
            </div>
          </div>
          <p><%= card.name %></p>
        </div>
      </li>
    <% end %>
  </ul>
</section>

<script>
$(document).ready(function(){
  $(".img-result").mouseover(function() {
    $(this).children(".hover").show();
  });
  $(".img-result").mouseout(function() {
    $(this).children(".hover").hide();
  });
});
</script>
