<section>
  <h3>Results for: "<%= @search_term %>"</h3>
</section>
<section>
  <ul>
    <% for result in @results do %>
      <% if result.poster_path %>
      <% if @type == "movie" %>
        <% @title = result.title %>
      <% else %>
        <% @title = result.name %>
      <% end %>
        <li>
          <div class="img-result">
            <%= image_tag "http://image.tmdb.org/t/p/original#{result.poster_path}" %><br>
            <div class="hover">
              <div class="hover-links">
                <%= button_to "Currently Watching", trello_path, params: { button_name: "currently_watching", result_title: @title }, data: { confirm: "Add this to the Currently Watching list on Trello?" } %>
                <%= button_to "Watch Later", trello_path, params: { button_name: "to_watch", result_title: @title }, data: { confirm: "Add this to the Watch Later list on Trello?" } %>
                <%= button_to "Already Watched", trello_path, params: { button_name: "watched", result_title: @title }, data: { confirm: "Add this to the Already Watched list on Trello?" } %>
              </div>
            </div>
            <p><%= @title %></p>
          </div>
        </li>
      <% end %>
    <% end %>
  </ul>
</section>
<footer>
  <h4><%= link_to "Search Again", root_url %></h4>
</footer>

<script>
$(document).ready(function(){
  $(".img-result").mouseover(function() {
    $(this).children(".hover").show();
  });
  $(".img-result").mouseout(function() {
    $(this).children(".hover").hide();
  });
});
</script>
