<section>
  <%= form_tag('/search') do %>
      <section class="search-input">
        <%= search_field_tag 'search', nil, autofocus: true %>
      </section>
      <section>
        <%= submit_tag 'Search' %>
      </section>
  <% end %>
</section>
<% if @watching.count > 0 %>
<br>
<h2>Watching Now:</h2>
<section>
  <ul>
    <% @watching.each do |result| %>
      <li>
        <div class="img-result">
          <%= image_tag "http://image.tmdb.org/t/p/original#{result.image_url}" %>
        </div>
        <p><%= result.name %></p>
      </li>
    <% end %>
  </ul>
</section>
<% end %>
<script>
  $(document).ready(function(){
    $(".img-result").mouseover(
        function() {
          $(this).children(".hover").show();
        })
        .mouseout(
            function() {
              $(this).children(".hover").hide();
            }
        );
  });
</script>
