<section>
  <h3>Results for: "<%= @search_term %>"</h3>
</section>
<section>
  <ul>
    <% @results.each do |result| %>
      <% if result.poster_path %>
        <li>
          <div class="img-result">
            <%= image_tag "http://image.tmdb.org/t/p/original#{result.poster_path}" %><br>
            <div class="hover">
              <div class="hover-links">
                <%= button_to 'Watch Later',
                  items_path,
                  params: {
                    item: {
                      name: result.title,
                      image_url: result.poster_path ,
                      uniqueid: result.id,
                      status: 0
                    }
                  }
                %>
                <%= button_to 'Watched',
                  items_path,
                  params: {
                    item: {
                      name: result.title,
                      image_url: result.poster_path,
                      uniqueid: result.id,
                      status: 1
                    }
                  }
                %>
              </div>
            </div>
          </div>
          <p><%= result.title %></p>
        </li>
      <% end %>
    <% end %>
  </ul>
</section>

<script>
  $(document).ready(function(){
    $(".img-result").mouseover(function() {
      $(this).children(".hover").show();
    });
    $(".img-result").mouseout(function() {
      $(this).children(".hover").hide();
    });
  });
</script>
