<section>
  <h3>Results for: "<%= @search_term %>"</h3>
</section>
<section>
  <ul>
    <% @results.each do |result| %>
        <% if result.poster_path %>
          <li>
            <div class="img-result">
              <%= image_tag "http://image.tmdb.org/t/p/original#{result.poster_path}" %><br>
              <div class="hover">
                <div class="hover-links">
                  <%= button_to 'Currently Watching',
                    trello_add_path,
                    params: {
                      button_name: 'watching',
                      result_title: result.title,
                      result_id: result.id,
                      poster_path: result.poster_path
                    },
                    data: { confirm: 'Add this to the Currently Watching list on Trello?' }
                  %>
                  <%= button_to 'Watch Later',
                    trello_add_path,
                    params: {
                      button_name: 'to_watch',
                      result_title: result.title,
                      result_id: result.id,
                      poster_path: result.poster_path
                    },
                    data: { confirm: 'Add this to the Watch Later list on Trello?' }
                  %>
                  <%= button_to 'Already Watched',
                    trello_add_path,
                    params: {
                      button_name: 'watched',
                      result_title: result.title,
                      result_id: result.id,
                      poster_path: result.poster_path
                    },
                    data: { confirm: 'Add this to the Already Watched list on Trello?' }
                  %>
                </div>
              </div>
            </div>
            <p><%= result.title %></p>
            <p><%= result.inspect %></p>
          </li>
        <% end %>
    <% end %>
  </ul>
</section>
<br>
<section>
  <%= form_tag('/search') do %>
      <section class="search-input">
        <%= search_field_tag 'search', nil %>
      </section>
      <section>
        <%= submit_tag 'Search' %>
      </section>
  <% end %>
</section>

<script>
  $(document).ready(function(){
    $(".img-result").mouseover(function() {
      $(this).children(".hover").show();
    });
    $(".img-result").mouseout(function() {
      $(this).children(".hover").hide();
    });
  });
</script>
