<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Now Showing</title>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
  </head>
  <body>
    <header>
      <%= link_to "NOW SHOWING", root_path, class: "title h1", id: "title"  %>
    </header>
    <nav>
      <%= link_to "Watched", watched_path %>
      <%= link_to "To Watch", to_watch_path %>
    </nav>
    <% flash.each do |name, msg| %>
      <section><%= content_tag :section, msg %></section>
    <% end %>
    <%= yield %>
  </body>
</html>